body {
  margin: 0;
  font-family: 'Noto Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

.App {
  background-color: #282c34;
  min-height: calc(100vh - 50px);
  color: white;
  padding: 25px;
}

a {
  color: #61dafb;
  cursor: pointer;
}
